.begin-session {
  position: relative;
  grid-row: 2 / 3;
  align-self: end;
  bottom: 1em;
  /* font-family: Montserrat;
  font-style: normal; */
  text-align: center;

  color: hsla(213, 30%, 71%, 0.8);
}
