.menu-icon-container button {
  height: calc(6 * var(--vh, vh));
  width: calc(6 * var(--vh, vh));
  border: none;
  background: url(../assets/icons/Vector.svg) no-repeat center center;
  background-size: 100% 100%;
}
