.darkBG-menu {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
}
.centered-menu {
  position: fixed;
  top: 0;
}

.menu-modal {
  position: absolute;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background: #e8e1d4;
  color: rgb(22, 22, 22);
  z-index: 10;
}
