.darkBG {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: calc(var(--vh, 1vh) * 71);
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 50);
  background: #e8e1d4;
  color: rgb(22, 22, 22);
  border-radius: 15px 15px 0px 0px;
  z-index: 10;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal button {
  background: #8ea8a0;
  display: inline-block;
  border-radius: 15px;
  width: fit-content;
}

.durations-list {
  height: 60%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.durations-list::-webkit-scrollbar {
  display: none;
}

.durations-list li {
  list-style: none;
}
