.darkBG {
  background: linear-gradient(to top, #7f9790, #8ea8a0 60%, #e8e1d4);
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:
    [row]
    calc(4 * var(--vh, vh)) calc(6 * var(--vh, vh)) calc(24 * var(--vh, vh))
    calc(40 * var(--vh, vh))
    calc(9 * var(--vh, vh)) calc(13 * var(--vh, vh)) calc(4 * var(--vh, vh));
}

.centered {
  position: relative;
  height: 100%;
  grid-column: 1/2;
  grid-row: 4/6;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
}

.modal-name {
  padding-right: 0.7em;
  padding-bottom: 0.7em;
  grid-row: 3/4;
  align-self: end;
  justify-self: end;
  font-size: 1.8em;
  font-weight: 900;
  color: #faf8eb;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal button {
  background: #8ea8a0;
  display: inline-block;
  border-radius: 15px;
  width: fit-content;
}

.durations-list {
  height: 60%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.durations-list::-webkit-scrollbar {
  display: none;
}

.durations-list li {
  list-style: none;
}
