.navContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: end;
  justify-items: center;
}
.navContainer div {
  display: none;
  padding-bottom: 1.8rem;
  font-size: 0.55rem;
  color: rgba(52, 0, 0, 1);
  transition: color 100ms ease-out, font-size 1s linear;
}

.navContainer div:hover {
  color: #ff6c01;
}

.navContainer p {
  display: none;
  grid-row: 2/3;
  /* text-shadow: 0.15em 0.15em 0.06em rgba(255, 227, 188, 1); */
}
.navContainer button {
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
  box-shadow: 0 0 0.12em 0.15em rgba(52, 0, 0, 0.6);

  border: none;
}
.button1 {
  grid-column: 1/ 2;
  grid-row: 1 / 2;
}

.button2 {
  grid-column: 2/ 3;
  grid-row: 1 / 2;
}

.button3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.button4 {
  grid-column: 4/ 5;
  grid-row: 1 / 2;
}
.button1-vib {
  background: url(../assets/icons/Vector_vibrations.svg) no-repeat center center;
  background-size: 100% 100%;
}
.button1-novib {
  background: url(../assets/icons/Vector_vibrations_crossedout.svg) no-repeat
    center center;
  background-size: 100% 100%;
}

.button2-sound {
  background: url(../assets/icons/Vector_sound.svg) no-repeat center center;
  background-size: 100% 100%;
}

.button2-nosound {
  background: url(../assets/icons/Vector_sound_crossed_out_.svg) no-repeat
    center center;
  background-size: 100% 100%;
}

.button3 button {
  background: url(../assets/icons/Vector_time.svg) no-repeat center center;
  background-size: 100% 100%;
}

.button4 button {
  background: url(../assets/icons/Vector_techniques.svg) no-repeat center center;
  background-size: 100% 100%;
}

.visible-button {
  z-index: 12;
}
