.navContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}
.navContainer p {
  font-size: 0.45em;
}
.navContainer button {
  border-radius: 50%;
  height: 2em;
  width: 2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 0.9em;
  color: #455a6e;

  border: none;
}
.button1 {
  grid-column: 1/ 2;
  grid-row: 1 / 2;
}

.button2 {
  grid-column: 2/ 3;
  grid-row: 1 / 2;
}

.button3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.button4 {
  grid-column: 4/ 5;
  grid-row: 1 / 2;
}
.button1-vib {
  background: url(../assets/icons/Vector_vibrations.svg) no-repeat center center;
  background-size: 100% 100%;
}
.button1-novib {
  background: url(../assets/icons/Vector_vibrations_crossedout.svg) no-repeat
    center center;
  background-size: 100% 100%;
}

.button2-sound {
  background: url(../assets/icons/Vector_sound.svg) no-repeat center center;
  background-size: 100% 100%;
}

.button2-nosound {
  background: url(../assets/icons/Vector_sound_crossed_out_.svg) no-repeat
    center center;
  background-size: 100% 100%;
}

.button3 button {
  background: url(../assets/icons/Vector_time.svg) no-repeat center center;
  background-size: 100% 100%;
}

.button4 button {
  background: url(../assets/icons/Vector_techniques.svg) no-repeat center center;
  background-size: 100% 100%;
}

.visible-button {
  z-index: 12;
}
