.slider-wrapper {
  grid-column: 2/3;
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  background: #8ea8a0;
  align-items: center;
  justify-items: center;
  touch-action: none;
}
.slider-track {
  grid-area: 1/1;
  position: absolute;

  background: #8ea8a0;
  border: 5px solid #e8e1d4;
  border-radius: 999px;
  width: calc(var(--vh, 1vh) * 1.7);
  height: calc(var(--vh, 1vh) * 30);
  cursor: pointer;
  touch-action: none;
}

.slider-thumb {
  grid-area: 1/1;
  position: absolute;
  bottom: calc(var(--vh, 1vh) * 2.9);
  width: calc(var(--vh, 1vh) * 1.7);
  height: calc(var(--vh, 1vh) * 1.7);
  background: #8ea8a0;
  border: 5px solid #e8e1d4;

  border-radius: 50%;
  cursor: pointer;
}
