.slider-wrapper {
  grid-column: 2/3;
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  touch-action: none;
}
.slider-track {
  grid-area: 1/1;
  position: absolute;

  background: #8ea8a0;
  border: 5px solid #e8e1d4;
  box-shadow: 0px calc(0.3 * var(--vh, vh)) calc(0.3 * var(--vh, vh))
    rgba(0, 0, 0, 0.25);
  border-radius: 999px;
  width: 0.6em;
  height: 8.5em;
  cursor: pointer;
  touch-action: none;
}

.slider-thumb {
  grid-area: 1/1;
  position: absolute;
  bottom: calc(var(--vh, 1vh) * 2.9);
  width: 0.6em;
  height: 0.6em;
  background: #8ea8a0;
  border: 5px solid #e8e1d4;
  box-shadow: 0px calc(0.3 * var(--vh, vh)) calc(0.3 * var(--vh, vh))
    rgba(0, 0, 0, 0.25);

  border-radius: 50%;
  cursor: pointer;
}
