.container {
  display: grid;
  grid-template-columns: repeat(4, [col] 25%);
  grid-template-rows: [row] 20% 20% 20% 20% 20%;
}

.area1 {
  grid-area: 1 / 1 / 3 / 5;
}

.area2 {
  grid-area: 3 / 1 / 5 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 20% 35% 25%;
  place-items: center;
}

.area3 {
  grid-area: 5 / 1 / 6 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 25% 25% 25%;
}

.circle {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: calc(30 * var(--vh, vh));
  height: calc(30 * var(--vh, vh));
  border: calc(1.7 * var(--vh, vh)) solid #e8e1d4;
  background: #8ea8a0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-column: 2/ 4;
  grid-row: 2 / 4;
  display: grid;
  text-align: center;
  place-items: center;
}

.step-text {
  grid-column: 2/4;
  grid-row: 1;
}

#stop-button {
  position: relative;
}

#play-button {
  background: url(../../public/Polygon1.png) no-repeat center center;
  position: static;
  text-align: center;
  background-size: contain;
  width: calc(18 * var(--vh, vh));
  height: calc(18 * var(--vh, vh));
  border: none;
}
