.container {
  display: grid;
  grid-template-columns: repeat(4, [col] 25%);
  grid-template-rows: [row] 20% 20% 20% 20% 20%;
}

.area1 {
  grid-area: 1 / 1 / 2 / 5;
}

.area2 {
  grid-area: 2 / 1 / 5 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 20% 35% 25%;
  place-items: center;
}

.area3 {
  grid-area: 5 / 1 / 6 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 25% 25% 25%;
}

.circle {
  position: relative;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 8.5em;
  height: 8.5em;
  border: 0.6em solid #e8e1d4;
  background: #e8e1d4;
  box-shadow: 0 0 0.2em 0.3em rgba(255, 164, 34, 0.8);

  grid-column: 2/ 4;
  grid-row: 2 / 4;
  display: grid;
  text-align: center;
  place-items: center;
  z-index: 2;
}

.step-text {
  grid-column: 2/4;
  grid-row: 1;
}

#stop-button {
  position: relative;
}
.play-button-container {
  grid-column: 2/ 4;
  grid-row: 2 / 4;
  position: relative;
  left: -35%;
  animation: xAxis 5s infinite ease-in, zindex 5s infinite linear;
  z-index: 2;
}
.play-button {
  position: relative;
  z-index: auto;
  display: grid;
  place-content: center;

  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 6em;
  height: 6em;
  background: linear-gradient(
    355deg,
    hsl(359deg 82% 34%) 0%,
    hsl(8deg 88% 39%) 29%,
    hsl(17deg 94% 45%) 58%,
    hsl(25deg 100% 50%) 100%
  );
  box-shadow: 0 0 0.1em 0.2em rgba(255, 209, 144, 1);
  animation: yAxis 5s infinite ease-out, scale 5s infinite ease-out;
  /*animation: gradient 3s infinite;*/
  /* box-shadow: 0 0 0.2em 0.3em rgba(255, 164, 34, 0.8); */
}
.play-button div {
  /* font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20.8772px; */
  color: rgba(255, 209, 144, 1);
  font-size: 1.4rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

@keyframes xAxis {
  50% {
    animation-timing-function: ease-in;
    transform: translateX(240px);
  }
  /* 90% {
    animation-timing-function: ease-in;
    transform: translateX(-50px);
  } */

  /* 53% {
    animation-timing-function: ease-in;
    transform: scale(0.5, 0.5);
  }*/
}

@keyframes yAxis {
  50% {
    animation-timing-function: ease-out;
    transform: translateY(150px);
  }
  /* 90% {
    animation-timing-function: ease-out;
    transform: translateY(-100px);
  } */
}
@keyframes scale {
  65% {
    animation-timing-function: ease-out;
    transform: scale(0.6, 0.6);
  }
}

@keyframes zindex {
  0% {
    z-index: 10;
  }
  36% {
    z-index: 0;
  }
}
/* 53% {
    animation-timing-function: ease-out;
    
  }
  66% {
    animation-timing-function: ease-out;
    z-index: 1;
  } */
