.time-modal {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 50);
  left: 40%;
  background: #8ea8a0;
  color: rgb(22, 22, 22);
  border-radius: 15px 15px 0px 0px;
  z-index: 10;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 1fr 1fr calc(var(--vh, 1vh) * 8) 1fr;
  color: #455a6e;
}
.set-duration-button {
  grid-row: 4/5;
  grid-column: 2/5;
}
.set-duration-button button {
  background: #e8e1d4;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  justify-self: center;
}

.slider-parent {
  justify-self: center;
  align-self: end;
  grid-row: 2 / 3;
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  grid-column: 3/4;
  color: #455a6e;

  width: calc(var(--vh, 1vh) * 33);
  position: relative;
  bottom: calc(var(--vh, 1vh) * 5);
}

.buble-number {
  position: relative;
  align-self: end;
  justify-self: end;
  grid-row: 1 / 4;
  grid-column: 2/3;
  color: #e8e1d4;
}

.buble-min {
  position: relative;
  align-self: end;
  justify-self: start;
  grid-row: 1 / 4;
  grid-column: 4/5;
  color: #e8e1d4;
}

/*input[type="range"] {
  width: 100%;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #8ea8a0;
  border: 5px solid #e8e1d4;
  border-radius: 999px;
  width: 95%;
  height: calc(var(--vh, 1vh) * 2.5);
  cursor: grab;
  text-align: center;
}
input[type="range"]::-webkit-slider-thumb {
  width: calc(var(--vh, 1vh) * 3.5);
  height: calc(var(--vh, 1vh) * 3.5);
  background: #8ea8a0;
  border: 5px solid #e8e1d4;
  border-radius: 50%;
  cursor: grab;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #91aaa2;
}
input[type="range"]::-moz-range-track {
  background: #8ea8a0;
  border: 5px solid #e8e1d4;
  border-radius: 999px;
  width: 95%;
  height: calc(var(--vh, 1vh) * 1.5);
  cursor: grab;
}
input[type="range"]::-moz-range-thumb {
  width: calc(var(--vh, 1vh) * 1.8);
  height: calc(var(--vh, 1vh) * 1.8);
  background: #8ea8a0;
  border: 5px solid #e8e1d4;

  border-radius: 50%;
  cursor: grab;
}

input[type="range"]::-moz-range-progress {
  background: #e8e1d4;
  border: 5px solid #e8e1d4;
  height: calc(var(--vh, 1vh) * 1.5);
  border-radius: 999px;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 2.5px 0;
  color: transparent;
  width: 95%;
  height: 20px;
  cursor: grab;
}
input[type="range"]::-ms-fill-lower {
  background: #e8e1d4;
  border: 5px solid #e8e1d4;
  border-radius: 24.8px;
}
input[type="range"]::-ms-fill-upper {
  background: #8ea8a0;
  border: 5px solid #e8e1d4;
  border-radius: 24.8px;
}
input[type="range"]::-ms-thumb {
  width: 23px;
  height: 23px;
  background: #8ea8a0;
  border: 6px solid #e8e1d4;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 0px;

}
input[type="range"]:focus::-ms-fill-lower {
  background: #8ea8a0;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #91aaa2;
}*/
