.container {
  display: grid;
  grid-template-columns: repeat(4, [col] 25%);
  grid-template-rows: [row] 20% 20% 20% 20% 20%;
}

.area1 {
  grid-area: 1 / 1 / 2 / 5;
}

.area2 {
  position: relative;
  grid-area: 2 / 1 / 5 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 20% 35% 25%;
  place-items: center;
  transform: rotateX(75deg);
  transform-style: preserve-3d;
}

.area3 {
  grid-area: 5 / 1 / 6 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 25% 25% 25%;
}

.sun1 {
  position: relative;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  background: #2e363b;
  box-shadow: 5px 5px 30px 7px #12191f, -5px -5px 30px 7px #96acc7;

  grid-column: 2/ 4;
  grid-row: 2 / 4;
  display: grid;
  text-align: center;
  place-items: center;
  transform-style: preserve-3d;
  transform: rotateX(-75deg);
}

.sun3 {
  position: relative;
  display: grid;
  place-items: center;
  color: hsla(213, 30%, 71%, 0.8);

  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 6.4rem;
  height: 6.4rem;
  background: #23292d;
  box-shadow: inset 0px -2px 4px rgba(255, 255, 255, 0.25),
    inset 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.step-text {
  grid-column: 2/4;
  grid-row: 1;
}

#stop-button {
  display: grid;
}
.orbit {
  grid-column: 2/ 4;
  grid-row: 2 / 4;
  position: absolute;
  /* border: 1px solid rgba(255, 255, 255, 1); */
  border-radius: 50%;
  width: 9.5rem;
  height: 9.5rem;
  display: grid;
  place-items: center;
  animation-name: orbit;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 6s;
  transform-style: preserve-3d;
  /* animation: xAxis 5s infinite ease-in, zindex 5s infinite linear;
  z-index: 2; */
}
.sun2-wrapper {
  position: relative;
  left: -50%;
  top: 20%;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  transform-style: preserve-3d;
  animation-duration: 6s;
  animation-name: invert;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.sun2 {
  position: relative;
  z-index: auto;
  display: grid;
  place-content: center;

  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  background: linear-gradient(270deg, #083251, #2a4764 14.48%, #f9f9f9 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 5px 5px 15px #2b2c2d;
  transform-style: preserve-3d;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: scale;
  animation-duration: 6s;
  transform: rotate(90deg);
  /* animation: yAxis 5s infinite ease-out, scale 5s infinite ease-out; */
}
.sun2 div {
  /* font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20.8772px; */
  color: hsla(203, 12%, 16%, 1);
  font-size: 1rem;
}

@keyframes xAxis {
  50% {
    animation-timing-function: ease-in;
    transform: translateX(240px);
  }
  /* 90% {
    animation-timing-function: ease-in;
    transform: translateX(-50px);
  } */

  /* 53% {
    animation-timing-function: ease-in;
    transform: scale(0.5, 0.5);
  }*/
}

@keyframes yAxis {
  50% {
    animation-timing-function: ease-out;
    transform: translateY(150px);
  }
  /* 90% {
    animation-timing-function: ease-out;
    transform: translateY(-100px);
  } */
}
@keyframes scale {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.3, 1.3);
  }
  20% {
    transform: scale(1.4, 1.4);
  }
  50% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(0.9, 0.9);
  }
  75% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes zindex {
  0% {
    z-index: 10;
  }
  55% {
    z-index: 0;
  }
  99% {
    z-index: 0;
  }
}

@keyframes orbit {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
@keyframes shadow {
  0% {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5); /* top */
  }
  25% {
    box-shadow: inset 16px 0 8px rgba(0, 0, 0, 0.5); /* left */
  }
  50% {
    box-shadow: inset 40px -20px 16px rgba(0, 0, 0, 0.5); /* bottom */
  }
  50.01% {
    box-shadow: inset -40px -20px 16px rgba(0, 0, 0, 0.5); /* bottom */
  }
  75% {
    box-shadow: inset -16px 0 8px rgba(0, 0, 0, 0.5); /* right */
  }
  100% {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5); /* top */
  }
}

@keyframes invert {
  0% {
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
}
