.app-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [row] 4vh 6vh 16vh 46vh 9vh 13vh 4vh;
  grid-row-gap: 0px;
  height: 100%;
  padding: 2px;
  margin: 0;
}

.upper-line {
  grid-row: 1 / 2;
  position: relative;
  align-self: end;
}
.upper-line-draw {
  border-bottom: 3px solid #e8e1d4;
  width: 100%;
}
.menu-icon {
  grid-row: 2 / 3;
  display: grid;
}

.free-space1 {
  grid-row: 3 / 4;
  display: grid;
}

.timer-container {
  grid-row: 4 / 5;
  display: grid;
}

.free-space2 {
  grid-row: 5 / 6;
  display: grid;
}

.menu-container {
  grid-row: 6 / 7;
  display: grid;
}

.lower-line {
  grid-row: 7 / 8;
  display: grid;
  position: relative;
  align-self: start;
  border-bottom: 3px solid #e8e1d4;
  width: 100%;
}
