root {
  font-size: 62.5%;
}
html {
  font-size: 1.8rem;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media (max-width: 400px) {
  html {
    font-size: 1.8rem;
  }
}
@media (min-width: 401px) and (max-width: 670px) {
  html {
    font-size: 1.9rem;
  }
}
@media (min-width: 671px) {
  html {
    font-size: 2.2rem;
  }
}

body {
  font-family: "Metropolis";
  font-weight: 600;
  text-align: center;
  margin: 0px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  color: #340000;
}

.external-container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.app-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  width: 100%;
  max-width: 800px;
  /* background: url(./assets/icons/mountains1.svg) no-repeat left bottom, */
  background: linear-gradient(0deg, #fff5e8 15%, #ffc87a 50%, #ffa422);
  /* background-size: calc(max(130%, 19em)), auto; */
  /* background-blend-mode: multiply;
  /*animation: gradient 3s infinite;*/
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1em 2em 3em 2fr 2fr;
  row-gap: 0.2em;
  height: calc(var(--vh, 1vh) * 100);
  padding: 0px;
  margin: 0;
}

.upper-line {
  display: grid;
  align-self: end;
  border-bottom: calc(0.8 * var(--vh, vh)) solid #ff6c01;
  box-shadow: 0 0.1em 0.01em 0.03em rgba(255, 227, 188, 0.5);
  width: 100%;
  z-index: 11;
}
.upper-line-draw {
  border-bottom: calc(0.35 * var(--vh, vh)) solid #e8e1d4;
  width: 100%;
}
.menu-icon {
  grid-row: 2 / 3;
  justify-self: end;
  padding: 10px;
  z-index: 12;
}

.free-space1 {
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}

.timer-container {
  grid-row: 4 / 5;
  display: grid;
}

.menu-container {
  grid-row: 5 / 6;
  display: grid;
  background: url(./assets/icons/mountains2.svg) no-repeat left top;
  background-size: cover;
}

@keyframes gradient {
  0% {
    background: linear-gradient(0deg, #7f9790 10%, #8ea8a0 65%, #e8e1d4 100%);
  }
  50% {
    background: linear-gradient(0deg, #7f9790 3%, #8ea8a0 6%, #e8e1d4 100%);
  }
  100% {
    background: linear-gradient(0deg, #7f9790 10%, #8ea8a0 65%, #e8e1d4);
  }
}
