root {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Metropolis";
  font-weight: 600;
  text-align: center;
  margin: 0px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  color: #455a6e;
}

.external-container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.app-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 800px;
  background: linear-gradient(to top, #7f9790, #8ea8a0 50%, #bacac5);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:
    [row]
    calc(4 * var(--vh, vh)) calc(6 * var(--vh, vh)) calc(24 * var(--vh, vh))
    calc(40 * var(--vh, vh))
    calc(9 * var(--vh, vh)) calc(13 * var(--vh, vh)) calc(4 * var(--vh, vh));
  grid-row-gap: 0px;
  height: calc(var(--vh, 1vh) * 100);
  padding: 0px;
  margin: 0;
}

.upper-line {
  display: grid;
  align-self: end;
  border-bottom: calc(0.8 * var(--vh, vh)) solid #e8e1d4;
  box-shadow: 0px calc(0.3 * var(--vh, vh)) calc(0.3 * var(--vh, vh))
    rgba(0, 0, 0, 0.25);
  width: 100%;
  z-index: 11;
}
.upper-line-draw {
  border-bottom: calc(0.35 * var(--vh, vh)) solid #e8e1d4;
  width: 100%;
}
.menu-icon {
  grid-row: 2 / 3;
  justify-self: end;
  padding: 10px;
  z-index: 12;
}

.free-space1 {
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}

.timer-container {
  grid-row: 4 / 5;
  display: grid;
}

.free-space2 {
  grid-row: 5 / 6;
  display: grid;
}

.menu-container {
  grid-row: 6 / 7;
  display: grid;
  padding-top: 2%;
}

.lower-line {
  grid-row: 7 / 8;
  display: grid;
  position: relative;
  align-self: start;
  border-bottom: calc(0.8 * var(--vh, vh)) solid #e8e1d4;
  box-shadow: 0px calc(0.3 * var(--vh, vh)) calc(0.3 * var(--vh, vh))
    rgba(0, 0, 0, 0.25);
  width: 100%;
}
